<!DOCTYPE html>
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CODETutorial Mean seed</title>
</head>
<body>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/socket.io-client/socket.io.js"></script>
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/materialize/dist/js/materialize.js"></script>

<script src="js/app.js"></script>
<script src="js/controller/authController.js"></script>
<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css">

<div class="container" ng-app="locationApp">
    <div class="row" ng-controller="authController">
        <div class="col md6">
        {{alert}}
            <div>
                <label>Username:</label>
                <input type="text" ng-model="user.username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" ng-model ="user.password"/>
            </div>
                 <button ng-click="login(user)"/> Log in </button>
        </div>  <div >{{loggeduser.username}}</div>
    </div>

</div>
</body>
